<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Modus Icons (1.3.2)</title>
    <meta name="description" content="Modus Design System Icon fonts">
    <style>
        body {
            font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        }

        .preview {
            display: inline-grid;
            grid-template-rows: min-content min-content;
            margin: 10px;
            text-align: center;
            border: 1px solid #ccc;
        }

        .preview .inner {
            display: flex;
            font-size: 11px;
            align-content: center;
            width: 100%;
            background: #fff;
        }

        .preview .inner .{{ fontName }} {
            margin: 6px;
            font-size: 24px;
            color: #333;
        }

        .label {
            display: block;
            padding: 5px 0;
            font-size: 13px;
            color: #444;
        }

        .code-sample {
            font-weight: 700;
            width: 100%;
            box-sizing: border-box;
            padding: 5px;
            font-size: 13px;
            color: #444;
            background-color: #eee;
        }

        {{{ styles }}}


    @media (prefers-color-scheme: dark) {
      html {
        color-scheme: dark;
      }

      body {
        background-color: #000;
        color: white;
      }

      .preview {
        border-color: #333;
      }

      .preview .inner {
        background: #111;
      }

      .preview .inner .modus-icons {
        color: #fff;
      }

      .label {
        color: #eee;
      }

      .code-sample {
        background-color: #333;
        color: #eee;
      }
    }
    </style>
</head>
<body>
  <div>
    <h1>{{ fontName }}</h1>
      <main class="grid">
        {{#each names }}
          <div class="preview">
            <div class="code-sample">
              <div class="label">{{ this.fileName }}</div>
            </div>
            <div class="inner">
              <i class="{{ ../fontName }}">{{ this.ligatureName }}</i>
              <pre>&lt;i class="{{ ../fontName }}"&gt;{{ this.ligatureName }}&lt;/i&gt;</pre>
            </div>
          </div>
        {{/each }}
    </main>
  </div>
</body>
</html>
