<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modus Design System Icons</title>
    <style>

        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        .preview {
            width: 300px;
            display: inline-grid;
            grid-template-rows: min-content min-content;
            margin: 10px;
            text-align: center;
            border: 1px solid #ccc;
        }

        .preview .inner {
            display: inline-block;
            width: 100%;
            text-align: center;
            background: #fff;
        }

        .preview .inner .{{ fontName }} {
            margin: 6px;
            font-size: 24px;
            color: #333;
        }

        .label {
            display: block;
            padding: 5px 0;
            font-size: 11px;
            color: #444;
        }

        .code-sample {
            font-weight: 700;
            text-align: center;
            width: 100%;
            box-sizing: border-box;
            padding: 5px;
            font-size: 11px;
            color: #444;
            background-color: #eee;
        }

        {{{ styles }}}

    </style>
    <link rel="stylesheet-x" href="https://modus.trimble.com/assets/0.5.1/fonts/modus-icons.css">
</head>
<body>
    <div>
        <h1>{{ fontName }}</h1>

        {{# each names }}

            <div class="preview">
                <div class="inner">
                    <i class="{{ ../fontName }}">{{ this }}</i>
                    <div class="label">{{ this }}</div>
                </div>
                <div class="code-sample">
                            &lt;i class="{{ ../fontName }}"&gt;{{ this }}&lt;/i&gt;
                </div>

            </div>

        {{/ each }}
    </div>
</body>
</html>
